// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@keyframes shake {
    0%,
    100% {
        margin-left: 0;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}
/* --**VARIABLES CSS**-- */
:root {
    // colors
    --frist-color: hsl(0, 100%, 74%);
    --first-color-send: hsl(154, 59%, 51%);
    --color-accent: hsl(248, 32%, 49%);
    --text-color: hsl(249, 10%, 26%);
    --text-color-light: hsl(246, 25%, 77%);
    --body-color: #fff;

    //font and typography

    --body-font: "Poppins", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.55rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 6rem;
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
    }

    //font weight

    --font-normal: 400;
    --font-500: 500;
    --font-semi: 600;
    --font-bold: 700;

    //margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

/* --**CSS CLASS**-- */
.section {
    padding: 4rem 0 2rem;
    &__title {
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-2);
    }
    &__description {
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-3);
    }
}
.section__title,
.section__description {
    text-align: center;
    color: #fff;
}

/* --**LAYOUT**-- */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.main {
    background: url("images/bg-intro-mobile.png") var(--frist-color) no-repeat center;
    min-height: 100vh;
}

/* --**FIRST DATA**-- */
.first__data {
    padding: 0 1rem;
}

/* --**SECOND DATA**-- */
.second__data {
    width: 80%;
    justify-self: center;
    box-shadow: 0 6px 0 rgba(14, 13, 13, 0.192);
    border-radius: 0.5rem;
}

/* --**FORM**-- */
.form {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    .field .input-area {
        position: relative;
    }
    & input {
        height: 3rem;
        width: 100%;
        padding: 0 1rem;
        border: 1px solid var(--text-color-light);
        font-size: var(--normal-font-size);
        border-radius: 0.225rem;

        &::placeholder {
            font-weight: var(--font-semi);
        }
        &[type="submit"] {
            margin-top: var(--mb-2);
            border: none;
            background: var(--first-color-send);
            color: #fff;
            cursor: pointer;
            transition: background 0.2s ease;
            margin-bottom: var(--mb-1);
            text-transform: uppercase;
            &:hover {
                background: hsl(154, 94%, 35%);
            }
        }
    }
    .field {
        width: 100%;
        margin-bottom: 1rem;

        & i {
            position: absolute;
            top: 50%;
            font-size: 1.25rem;
            pointer-events: none;
            transform: translateY(-50%);
        }
        .error {
            display: none;
            &--icon {
                right: 15px;
                color: #dc3545;
            }
            &-text {
                color: #dc3545;
                text-align: right;
                margin-top: 0.5rem;
            }
        }
        &.shake {
            animation: shake 0.3s ease-in-out;
        }
    }
}
.form .field.error .error {
    display: block;
}
.form .field.error input {
    border-color: #dc3545;
}
.agree {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-align: center;
    &--term {
        color: #dc3545;
        font-weight: var(--font-semi);
    }
}

/* --**BUTTONS**-- */
.button {
    display: inline-block;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: var(--mb-3);
    border-radius: 0.5rem;
    color: var(--text-color-light);

    &--blue {
        background-color: var(--color-accent);
        text-align: center;
        box-shadow: 0 6px 0 rgba(14, 13, 13, 0.192);

        & strong {
            color: #fff;
        }
    }
}

/* --**MEDIA QUERIES**-- */

// for medium devices
@media screen and (min-width: 568px) {
    .main {
        background: url("images/bg-intro-desktop.png") var(--frist-color) no-repeat center;
    }
    .container {
        max-width: 568px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        padding: 0 3rem;
        max-width: 968px;
    }

    .first__data {
        align-self: center;
    }
    .section__description,
    .section__title {
        text-align: initial;
    }
    .section__title {
        max-width: 350px;
    }
    .section__description {
        max-width: 550px;
    }
}

// for large devices
@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1224px;
    }
}
